* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(135deg, #f06, #4a90e2);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    max-width: 800px;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 40px;
}

.countdown {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.countdown div {
    font-size: 24px;
}

.social-icons a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background 0.3s;
}

.social-icons a:hover {
    background: white;
    color: #4a90e2;
}
